@import url('https://fonts.googleapis.com/css?family=Inconsolata:100,200,300,400,500,600,700,800,900|Exo:100,200,300,400,500,600,700,800,900|Pacifico:100,200,300,400,500,600,700,800,900');

/*--------------------------------------------------------------------------------------------------------------------------BG-color--*/

.bg-color-header,
.bg-color-footer {
    background-color: #e6e6e6;
}

.bg-color-quotes {
    background-color: #aaaaaa;
}
/*--------------------------------------------------------------------------------------------END BG-color--*/

/*-----------------------------------------------------------------------------------------------------------------------------images*/

.main-section-image img {
    border: 3px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 4px;

    padding: 2px;

    width: 500px;
    height: 570px;

    display: block;
    margin: auto;

    cursor: zoom-in;

    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out
}

.main-section-image img:hover {
    border: 5px;
    border-style: solid;
    border-color: #990000;
}

.about-main-section-image img{
    border: 3px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 4px;

    padding: 2px;

    width: 400px;
    height: 470px;
    margin:0;
    cursor: zoom-in;

    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out
}

.about-main-section-image img:hover{
    border: 5px;
    border-style: solid;
    border-color: #990000;
}

.gallery-section-image img {
    border: 1px;
    border-style: solid;
    border-color: #990000;
    border-radius: 4px;

    padding: 2px;
    width: 390px;
    height: 420px;
    display: block;
    margin: auto;

    cursor: zoom-in;

    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out
}

.gallery-section-image img:hover {
    border: 5px;
    border-style: solid;
    border-color: #990000;
}

.contact-main-section-image img{
    border: 3px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 4px;

    padding: 2px;

    width: 450px;
    height: 470px;

    display: block;

    cursor: zoom-in;

    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out
}

.contact-main-section-image img:hover{
    border: 5px;
    border-style: solid;
    border-color: #990000;
}
/*------------------------------------------------------------------------------------ END images*/

/*--------------------------------------------------------------------------------------------------------------------------h1,h2,a etc*/

.title-header a h1 {
    font-family: "Inconsolata", sans-sarif;
    font-size: 35px;
}

section h2 {
    font-family: "Inconsolata", sans-sarif;
    font-size: 35px;
}

footer h3 {
    letter-spacing: 2px;
}

.title-header a {
    color: inherit;
}

.inline-block {
    display: inline-block;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Inconsolata", sans-serif;
}



blockquote p {
    font-size: 20px;
}

blockquote footer {
    color: white;
}

.youtube-paragraph-section h4{
    font-size: 17px;
    font-family: "Exo" sans-serif;
    font-weight: 300;
    padding-bottom: 10px;
    color: white;
    text-shadow: 2px 2px black; 
}

.about-paragraph-section p, .gallery-paragraph-section{
    font-size: 20px;
    font-family: "Exo" sans-serif;
    text-align: center;
    
    padding-bottom: 10px;
    color:black;
    font-weight: 500;
    margin-top: 10px;
}

/*-----------------------------------------------------------------------------END h1,h2,a etc*/

/*-----------------------------------------------------------------------------------------------------------------------------------------Heading*/

/*-----------------------------------------------------------------------------------------------------------------------------------------Navbar*/

.navbar-header {
    margin-top: 20px;
    padding: 0px;
}


.navbar-default {
    padding: 0px;
    background-color: #e6e6e6;
}

.navbar-list {
    list-style: none;
    margin: 0;
    padding-left: 10px;
}

.navbar-list li {
    padding-left: 10%;
    height: 50px;
    display: inline-block;
}

.navbar-list li a {
    color: black;
    font-family: "Inconsolata" sans-serif;
    font-size: 25px;
    letter-spacing: 3px;

    transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -webkit-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
}

.navbar-list li a:hover {
    font-size: 40px;
    color: #990000;
    border-bottom-style: solid;
    border-bottom-color: #990000;
}

/*--------------------------------------------------------END Navbar*/

/*--------------------------------------------------------END Heading*/

/*----------------------------------------------------------------------------------------------------------------------------Section*/

.full-section-image{
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-section {
    margin-right: 15px;
    margin-left: -10px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-section-image {
    margin: 10px 0 10px 0;
}

.quotes-container {
    margin-bottom: 2%;
    font-family: "Exo", sans-serif;
    color: white;
}

.quotes-main-container, .youtube-main-section{
    margin-right: -10px;
    margin-bottom: 10px;
    margin-left: -10px;
    
    border: 5px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 4px;

    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.quotes-main-container:hover, .youtube-main-section:hover {
    border: 5px;
    border-style: solid;
    border-color: #990000;
}

.youtube-background_img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-main-section{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin: 10px 0 10px 0 ;
}

.about-main-section-row{
    height: 80%;
    width: 80%;
    margin: 10px 0 10px 10% ;
}

.gallery-section-image {
    margin: 10px 0 10px 0;
}

.page-header {
    text-align: center;
    margin-top: -10px;
    color: white;
}

.about-page-header, .gallery-page-header{
    color: black;
}

.youtube-section {
    margin-left: 132px;
    margin-bottom: 20px;
    display: block;
}

iframe {
    border: 2px;
    border-style: solid;
    border-color: black;
}

.gallery-row-one, .gallery-row-two {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 10px 10px 10px 10px;

    border: 5px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 4px;
}

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    padding-top: 10px;
    text-align: center;
}

.contact-2nd-heading {
    text-align: center;
    color: white;
}

.contact-center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 50%;
    margin-bottom: 15px;
}

#contact-section {
    height: 400px;
    margin: 10px 5px 10px 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    border: 5px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 4px;
    
}
.contact-main-section{
    width:90%;
    margin-left: 4%;
    margin-bottom: 20px;
}

/*-------------------------------------------------------------------------------------------END Section--*/
/*----------------------------------------------------------------------------------------------------------------------------------------Footer*/

.footer {
    color: black;
    padding-left: 5px;
    text-align: center;
}

.social-links,
.stay-connected,
.footer-about {
    margin: -15px;
    padding-left: 15px;
    padding-bottom: 20px;
}

.center-form {
    width: 415px;
    padding-left: 100px;
    padding-right: 20px;
}

#email {
    text-align: center;
}

.btn-secondary {
    color: black;
    background-color: white;

    border-style: solid;
    border-color: black;

    margin-top: 5px;

    transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -webkit-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
}

.btn-secondary:hover {
    background: #990000;
    color: white;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    line-height: 39px;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;

    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.social-links li a i:hover {
    background: white;
    color: grey;
    height: 50px;
    width: 50px;
    font-size: 30px;
    line-height: 45px;

    border-style: solid;
    border-color: #990000;
}

.social-links-images {
    margin: 0;
}
/*-----------------------------------------------------------------END footer*/

/*-----------------------------------------------------------------------------------------------------------------------------Media Queries*/

/*------------------------------------------------------------------------------------------------------------------------------Small Screen*/

/*Header media query*/

@media (max-width:767px) {
    .title-header {
        width: 100%;
        margin-bottom: -3%;
    }

    .title-header a h1 {
        text-align: center;
        font-size: 150%;
    }

    .navbar-header {
        width: 100%;
        margin-right: 10%;
    }

    .navbar-list {
        width: 100%;
        text-align: center;
    }

    .navbar-list li a {
        font-size: 120%;
    }

    .navbar-list li {
        padding: 2%;
        height: 30%;
    }

    /*Main section media query*/
    .main-section-image img {
        width: 101.5%;
        height: 100%;
        margin-left: 3%;
    }

    .quotes-main-container {
        width: 100%;
        height: 100%;
        margin-left: 0px;
    }

    blockquote p {
        font-size: 80%;
        max-width: 100%;
    }

    .youtube-main-section {
        width: 100%;
        height: 100%;
        margin-left: 0px;
    }

    .youtube-paragraph-section {
        width: 98%;
        height: 100%;
        margin-left: 0px;
    }

    .youtube-section {
        width: 98%;
        height: 100%;
        margin-left: 0px;
    }

    iframe {
        width: 250px;
        height: 200px;
    }
    
    .gallery-section-image img {
        width: 100%;
        height: 100%;
        margin-left: 5%;
        padding: 0;
    }
    
    .about-main-section{
        width: 100%;
        height: 80%;
        margin-left: 0px;
        margin-bottom: 5%;
        margin-right: 0;
    }
    
    .about-main-section-image img{
        height: 50%;
    }
    .contact-main-section a img{
        width:100%;
        height:100%;
        margin-bottom: 5%;
        margin-top:5%;
        margin-right: 5%;
        margin-left: 5%;
    }
    
    #contact-section{
        padding-bottom: 500px;
    }
    
    /*footer media query*/
    .social-links,
    .footer-about {
        margin: 0%;
    }

    .social-links h3 {
        margin-top: 1%;
        font-size: 120%;
    }
    .footer-about h3 {
        margin-top: 4%;
        font-size: 120%;
    }

    .list-inline li {
        padding: 0%;
        padding-top: 2%;
    }
    .list-inline li a i {
        font-size: 100%;
        padding: 0%;
        margin: 0%;
    }

    .footer-about p {
        font-size: 80%;
        max-width: 100%;
    }
}
/*---------------------------------------------END Small Screen*/

/*----------------------------------------------------------------------------------------------------------------------Medium Screen*/

@media (min-width: 768px) and (max-width: 991px) {
    .title-header {
        width: 100%;
        margin-bottom: -3%;
    }

    .title-header a h1 {
        text-align: center;
        font-size: 150%;
    }

    .navbar-header {
        width: 100%;
        margin-right: 10%;
    }

    .navbar-list {
        width: 100%;
        text-align: center;
    }

    .navbar-list li a {
        font-size: 120%;
    }

    .navbar-list li {
        padding: 2%;
        height: 30%;
    }

    /*Main section media query*/
    .main-section-image img{
        width: 95%;
        height: 100%;
        margin-left: 2.5%;
        padding: 0;
    }

    .gallery-section-image img {
        width: 100%;
        height: 100%;
        margin-left: 2.5%;
        padding: 0;
    }
    
    .about-main-section-image img{
        width: 100%;
        height: 100%;
        margin-left: 2.5%;
        padding: 0;
    }

    .quotes-main-container {
        width: 100%;
        height: 100%;
        margin-left: 2.5%;
    }

    .youtube-main-section {
        width: 100%;
        height: 100%;
        margin-left: .2%;

    }

    .youtube-paragraph-section {
        width: 100%;
        height: 100%;
        margin-left: .2%;
    }

    .youtube-section {
        width: 100%;
        height: 100%;
        margin-left: .2%;
    }

    iframe {
        margin-left: 14%;
        width: 500px;
        height: 300px;
    }

    blockquote p {
        font-size: 80%;
        max-width: 100%;
    }

    /*footer media query*/
    .social-links,
    .footer-about {
        margin: 0;
    }

    .social-links h3 {
        margin-top: 1%;
        font-size: 120%;
    }
    .footer-about h3 {
        margin-top: 4%;
        font-size: 120%;
    }

    .list-inline li {
        padding: 0%;
        padding-top: 2%;
    }
    .list-inline li a i {
        font-size: 100%;
        padding: 0%;
        margin: 0%;
    }

    .footer-about p {
        font-size: 80%;
        max-width: 100%;
    }
}
/*-------------------------------------------------------------END Medium Screen*/

/*-------------------------------------------------------------------------------------------------------------------------- Media query for Ipad Pro --*/

@media (min-width: 1024px) and (max-width: 1024px) {
    .gallery-section-image img {
        width: 100%;
        height: 350px;
    }
    .main-section {
        margin-left: -1%;
        margin-right: 1%;
    }

    .youtube-section {
        width: 80%;
        height: 100%;
        margin-left: 12%;
    }
    iframe {
        width: 700px;
        height: 500px;
    }
        .about-main-section a img, .contact-main-section a img{
        margin-bottom: 5%;
        margin-top:5%;
        margin-right: 5%;
        margin-left: 5%;
    }
    
    #contact-section{
        padding-bottom: 500px;
    }
}
/*-------------------------------------------------------END Media query for Ipad Pro --*/

/*--------------------------------------------------------------------------------------------------------------------- Media query for quotes Ipad  --*/

@media (min-width: 768px) and (max-width: 768px) {
    .quotes-main-container {
        margin-left: 0px;
    }
    .main-section {
        margin-left: -2%;
    }
        .about-main-section-img a img, .contact-main-section a img{
        width:90%;
        height:100%;
        margin-bottom: 5%;
        margin-top:5%;
        margin-right: 5%;
        margin-left: 5%;
    }
    
    #contact-section{
        padding-bottom: 500px;
    }
}

/*-------------------------------------------------------END Media query for Ipad --*/
